
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
</head>
<body style="background-repeat: no-repeat; background-size: 100%; background-image: url(../wwwroot/images/iccbg.jpg); font-family:'Nunito' ">

    <table style="width:100%" style="border-collapse: collapse; border="1">
        <tr>
            <th width="10%">
                <img src="~/wwwroot/images/LOGO.png" style="width:300px; height:150px;">
            </th>
            <td width="90%">
                <p style="color:DodgerBlue; font-size:300%;text-align:left; font">
                    <u>IMMACULADA CONCEPCION COLLEGE</u>
                </p>
            </td>
        </tr>

    </table>

    <table style=" width:100%; height:50px;">

        <tr bgcolor="#00008B">



            <td>
                <center>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <a href="~/Preregister/Home">
                        <button type="button" style="font-family: 'Nunito'">HOME</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                    <a href="~/Preregister/AboutUs">
                        <button type="button" style="font-family: 'Nunito'">ABOUT</button>                        
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                        <button type="button" style="color: DodgerBlue; font-family: 'Nunito'">CONTACT</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                    <a href="~/Preregister/Courses">
                         <button type="button" style="font-family: 'Nunito'">COURSES</button>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>                                
                    <a href="~/Preregister/Index">                                    
                        <button type="button" style="font-family: 'Nunito'">REGISTER</button>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                                                       
                    </a>

                </center>
            </td>
        </tr>
    </table>

    <table width="100%">
        <tr>
            <td>
                <p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3858.0191787671906!2d121.07716267434988!3d14.767949672959064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397a556198cdf27%3A0x21ec790f8a5d9e2a!2sImmaculada%20Concepcion%20College!5e0!3m2!1sen!2sph!4v1687623988788!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </p>
            </td>

            <td bgcolor="white" width="50%" height="350px">
                <h1 font-size:250%; text-align:center;"> CONTACT US </h1>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Contact Us <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  For all inquiries, please call our main reception between 7:00 am- 5:00pm: <br>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Registrars Office: +63 02 85845150 <br>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Marketing Office: 0948 6096086<br><br>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Corporate Email:<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Registrar Office: registrar@immaculada.edu.ph<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Admission Office: admission@immaculada.edu.ph<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Marketing Office: marketing@immaculada.edu.ph<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  HR Office: hrdmo@immaculada.edu.ph<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Cashier Office: accounting@immaculada.edu.ph<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Health Services Office: healthservices@immaculada.edu.ph<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Learning Resource: LRCdept@immaculada.edu.ph<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Campus Security Office: csso@immaculada.edu.ph<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  IT Department: mis@immaculada.edu.ph<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  College Department: college@immaculada.edu.ph

                </p>
            </td>
        </tr>
    </table>
    <table width="100%" height="35px">

        <tr bgcolor="#00008B">
            <td>&nbsp;</td>
        </tr>
        </center>
    </table>
</body>
</html>
