
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
</head>
<body style="background-repeat:no-repeat; background-size: 100%; background-image:url(../wwwroot/images/iccbg.jpg); font-family:'Nunito'">

    <table style="width:100%" style="border-collapse: collapse; border="1">
        <tr>
            <th width="10%">
                <img src="~/wwwroot/images/LOGO.png" style="width:300px; height:150px;">
            </th>
            <td width="90%">
                <p style="color:DodgerBlue; font-size:300%;text-align:left; font">
                    <u>IMMACULADA CONCEPCION COLLEGE</u>
                </p>
            </td>
        </tr>

    </table>

    <table style=" width:100%; height:50px;">
        <tr bgcolor="#00008B">
            <td>
                <center>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" style="color: DodgerBlue; font-family: 'Nunito';">HOME</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <a href="~/Preregister/AboutUs">
                        <button type="button" style=" font-family: 'Nunito';">ABOUT</button>                    
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                    <a href="~/Preregister/Contact">
                        <button type="button" style=" font-family: 'Nunito';">CONTACT</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>                        
                    <a href="~/Preregister/Courses">                            
                        <button type="button" style=" font-family: 'Nunito';">COURSES</button>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>                            
                    <a href="~/Preregister/Index">                                
                        <button type="button" style=" font-family: 'Nunito';">REGISTER</button>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>                    
                    
                </center>
            </td>
        </tr>

    </table>

    <table style=" width:100%;">
        <center>
        <tr>
            <td style="width:1000px;">
                <center><img src="~/wwwroot/images/WELCOME.png" style="width:500px; height:350px;"></center>
            </td>
            <td><img src="~/wwwroot/images/IMAGE.png" style="width:600px; height:400px; float:right"></td>
        </tr>
    </table>

    <table width="100%" height="35px">

        <tr bgcolor="#00008B">
            <td>&nbsp;</td>
        </tr>
        </center>
    </table>
</body>

</html>
