
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/Login_Layout.cshtml";
    var RegId = ViewData["RegId"];
}

<h1>Registration Complete</h1>
<div class="register-form-w3layouts">
    <h3 class="sub-heading-agileits">Success</h3>
    <h5 class="sub-heading-agileits">You have Successfully Register. Kindly save your Register Number</h5>
    <h1>@RegId</h1>
</div>


