<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewBag.Title</title>
    <link href="~/wwwroot/asssets/css/style-starter.css" rel="stylesheet" />
    <script src="~/wwwroot/asssets/js/bootstrap.min.js"></script>
    <script src="~/wwwroot/asssets/js/jquery-1.10.2.min.js"></script>
    <script src="~/wwwroot/asssets/js/jquery-3.3.1.min.js"></script>
    <script src="~/wwwroot/asssets/js/jquery.nicescroll.js"></script>
    <script src="~/wwwroot/asssets/js/modernizr.js"></script>
    <script src="~/wwwroot/asssets/js/scripts.js"></script>
    <link href="//fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
</head>
<body class="sidebar-menu-collapsed">
    <div>
        @RenderBody();
    </div>
</body>
</html>
